*,*:after,*:before{
	border:0;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,body{
	font-family: verdana,sans-serif,arial;
	font-size:18px;
	margin:0 auto;
}

/*Comienza la navegacion
=====================================*/
header .main-menu{
		position:relative;
		z-index:999;
		}
		header .main-bar {
			background:#202020;
			padding:10px;
			}
			header .main-bar a {
				color:#FFF;
				text-decoration:none;
				}

				header .main-bar a i.fa-search {
					float:right;
				}
		header .search {
			background:#FFF;
			border:1px solid orange;
			display:none;
			padding:10px;
			text-align:center;
			}
			header .search input{
				height:20px;
				border:1px solid #FFB403;
			}
			header .search input[type=search]:focus{
				outline:1px solid #FFB403;
			}
			header .search input[type=submit]{
				cursor: pointer;
				width:50px;
			}
		header .nav-bar {
			display:none;
			background:#404040;
			}
			header .nav-bar ul {
				list-style:none;
				}
				header .nav-bar ul li {
					display:block;
					border-bottom:1px solid #EFEFEF;
					}
					header .nav-bar ul li a{
						color:#FFF;
						display:block;
						padding:10px;
						}
						header .nav-bar ul li a .fa-caret-down {
							float:right;
							padding-right:10px;
						}
						header .nav-bar ul li a:hover {
							background:#F90;
							color: #000;
						}

					header .nav-bar ul li .sub-menu {
						display:none;
						background:#606060;
						font-size:.9em;
						}
						header .nav-bar ul li .sub-menu li:hover {
						background:#FFB403;
						}
						header .nav-bar ul li .sub-menu li a{
							padding: 10px 25px;
						}
			header .nav-bar #btn-search2 {
				display:none;
			}
@media screen and (min-width: 768px){

		header .search input[type=search]{
			width:50%;
			}
}

@media screen and (min-width: 1024px){	
  
		header .main-menu {

		}
		header .main-bar {
			display:none;
			}

		header .search {
			position:absolute;
			left:71%;
			top:37px;
			}
			header .search input[type=search]{
				width:70%;

			}
		header .nav-bar {
			background:#202020;
			border-radius:5px;
			display:block;
			font-size:.8em;
			}
			header .nav-bar ul {
				display:inline-block;
				}	
				header .nav-bar ul li {
					border-bottom:0;
					display:inline-block;
					}
						header .nav-bar ul li a .fa-caret-down {
							clear:both;
							position:relative;
							left:10px;	
						}

					header .nav-bar ul li .sub-menu {
						background:#404040;
						position:absolute;
						width:170px;
						}
						header .nav-bar ul li .sub-menu li {
							border-bottom:1px solid #EFEFEF;
							display:block;
							padding: 2px 5px;
						}
			header .nav-bar #btn-search2 {
				display:inline;
				float:right;
				padding:10px;
				color: #FFF;
			}
  
 @media screen and (min-width: 1200px){

    header .nav-bar {
      font-size:.8em;
      }
    .sub-menu a {
      font-size:.85em;
    }
  }
  
 /*16 COLUMNS GRID*/
.container {
	margin:0 auto;
	max-width:1150px;
	padding:0 15px;
	width:95%;
	}
	.row:after {
		content:' ';
		clear:both;
		display:block;
		}
		[class*='col-xs'],
		[class*='col-sm'],
		[class*='col-md'],
		[class*='col-lg']{
			float:left;
			min-height:1px;
			padding:0 15px; /*Gutters*/
			position:relative;
			}
			.col-xs-12 {
			  width: 100%;
			}

			.col-xs-11 {
			  width: 91.66666666666666%;
			}

			.col-xs-10 {
			  width: 83.33333333333334%;
			}

			.col-xs-9 {
			  width: 75%;
			}

			.col-xs-8 {
			  width: 66.66666666666666%;
			}

			.col-xs-7 {
			  width: 58.333333333333336%;
			}

			.col-xs-6 {
			  width: 50%;
			}

			.col-xs-5 {
			  width: 41.66666666666667%;
			}

			.col-xs-4 {
			  width: 33.33333333333333%;
			}

			.col-xs-3 {
			  width: 25%;
			}

			.col-xs-2 {
			  width: 16.666666666666664%;
			}

			.col-xs-1 {
			  width: 8.333333333333332%;
			}

			.col-xs-pull-12 {
			  right: 100%;
			}

			.col-xs-pull-11 {
			  right: 91.66666666666666%;
			}

			.col-xs-pull-10 {
			  right: 83.33333333333334%;
			}

			.col-xs-pull-9 {
			  right: 75%;
			}

			.col-xs-pull-8 {
			  right: 66.66666666666666%;
			}

			.col-xs-pull-7 {
			  right: 58.333333333333336%;
			}

			.col-xs-pull-6 {
			  right: 50%;
			}

			.col-xs-pull-5 {
			  right: 41.66666666666667%;
			}

			.col-xs-pull-4 {
			  right: 33.33333333333333%;
			}

			.col-xs-pull-3 {
			  right: 25%;
			}

			.col-xs-pull-2 {
			  right: 16.666666666666664%;
			}

			.col-xs-pull-1 {
			  right: 8.333333333333332%;
			}

			.col-xs-pull-0 {
			  right: 0;
			}

			.col-xs-push-12 {
			  left: 100%;
			}

			.col-xs-push-11 {
			  left: 91.66666666666666%;
			}

			.col-xs-push-10 {
			  left: 83.33333333333334%;
			}

			.col-xs-push-9 {
			  left: 75%;
			}

			.col-xs-push-8 {
			  left: 66.66666666666666%;
			}

			.col-xs-push-7 {
			  left: 58.333333333333336%;
			}

			.col-xs-push-6 {
			  left: 50%;
			}

			.col-xs-push-5 {
			  left: 41.66666666666667%;
			}

			.col-xs-push-4 {
			  left: 33.33333333333333%;
			}

			.col-xs-push-3 {
			  left: 25%;
			}

			.col-xs-push-2 {
			  left: 16.666666666666664%;
			}

			.col-xs-push-1 {
			  left: 8.333333333333332%;
			}

			.col-xs-push-0 {
			  left: 0;
			}

			.col-xs-offset-12 {
			  margin-left: 100%;
			}

			.col-xs-offset-11 {
			  margin-left: 91.66666666666666%;
			}

			.col-xs-offset-10 {
			  margin-left: 83.33333333333334%;
			}

			.col-xs-offset-9 {
			  margin-left: 75%;
			}

			.col-xs-offset-8 {
			  margin-left: 66.66666666666666%;
			}

			.col-xs-offset-7 {
			  margin-left: 58.333333333333336%;
			}

			.col-xs-offset-6 {
			  margin-left: 50%;
			}

			.col-xs-offset-5 {
			  margin-left: 41.66666666666667%;
			}

			.col-xs-offset-4 {
			  margin-left: 33.33333333333333%;
			}

			.col-xs-offset-3 {
			  margin-left: 25%;
			}

			.col-xs-offset-2 {
			  margin-left: 16.666666666666664%;
			}

			.col-xs-offset-1 {
			  margin-left: 8.333333333333332%;
			}

			.col-xs-offset-0 {
			  margin-left: 0;
			}
		@media screen and (min-width:768px){
			.col-sm-12 {
			    width: 100%;
			  }
			  .col-sm-11 {
			    width: 91.66666666666666%;
			  }
			  .col-sm-10 {
			    width: 83.33333333333334%;
			  }
			  .col-sm-9 {
			    width: 75%;
			  }
			  .col-sm-8 {
			    width: 66.66666666666666%;
			  }
			  .col-sm-7 {
			    width: 58.333333333333336%;
			  }
			  .col-sm-6 {
			    width: 50%;
			  }
			  .col-sm-5 {
			    width: 41.66666666666667%;
			  }
			  .col-sm-4 {
			    width: 33.33333333333333%;
			  }
			  .col-sm-3 {
			    width: 25%;
			  }
			  .col-sm-2 {
			    width: 16.666666666666664%;
			  }
			  .col-sm-1 {
			    width: 8.333333333333332%;
			  }
			  .col-sm-pull-12 {
			    right: 100%;
			  }
			  .col-sm-pull-11 {
			    right: 91.66666666666666%;
			  }
			  .col-sm-pull-10 {
			    right: 83.33333333333334%;
			  }
			  .col-sm-pull-9 {
			    right: 75%;
			  }
			  .col-sm-pull-8 {
			    right: 66.66666666666666%;
			  }
			  .col-sm-pull-7 {
			    right: 58.333333333333336%;
			  }
			  .col-sm-pull-6 {
			    right: 50%;
			  }
			  .col-sm-pull-5 {
			    right: 41.66666666666667%;
			  }
			  .col-sm-pull-4 {
			    right: 33.33333333333333%;
			  }
			  .col-sm-pull-3 {
			    right: 25%;
			  }
			  .col-sm-pull-2 {
			    right: 16.666666666666664%;
			  }
			  .col-sm-pull-1 {
			    right: 8.333333333333332%;
			  }
			  .col-sm-pull-0 {
			    right: 0;
			  }
			  .col-sm-push-12 {
			    left: 100%;
			  }
			  .col-sm-push-11 {
			    left: 91.66666666666666%;
			  }
			  .col-sm-push-10 {
			    left: 83.33333333333334%;
			  }
			  .col-sm-push-9 {
			    left: 75%;
			  }
			  .col-sm-push-8 {
			    left: 66.66666666666666%;
			  }
			  .col-sm-push-7 {
			    left: 58.333333333333336%;
			  }
			  .col-sm-push-6 {
			    left: 50%;
			  }
			  .col-sm-push-5 {
			    left: 41.66666666666667%;
			  }
			  .col-sm-push-4 {
			    left: 33.33333333333333%;
			  }
			  .col-sm-push-3 {
			    left: 25%;
			  }
			  .col-sm-push-2 {
			    left: 16.666666666666664%;
			  }
			  .col-sm-push-1 {
			    left: 8.333333333333332%;
			  }
			  .col-sm-push-0 {
			    left: 0;
			  }
			  .col-sm-offset-12 {
			    margin-left: 100%;
			  }
			  .col-sm-offset-11 {
			    margin-left: 91.66666666666666%;
			  }
			  .col-sm-offset-10 {
			    margin-left: 83.33333333333334%;
			  }
			  .col-sm-offset-9 {
			    margin-left: 75%;
			  }
			  .col-sm-offset-8 {
			    margin-left: 66.66666666666666%;
			  }
			  .col-sm-offset-7 {
			    margin-left: 58.333333333333336%;
			  }
			  .col-sm-offset-6 {
			    margin-left: 50%;
			  }
			  .col-sm-offset-5 {
			    margin-left: 41.66666666666667%;
			  }
			  .col-sm-offset-4 {
			    margin-left: 33.33333333333333%;
			  }
			  .col-sm-offset-3 {
			    margin-left: 25%;
			  }
			  .col-sm-offset-2 {
			    margin-left: 16.666666666666664%;
			  }
			  .col-sm-offset-1 {
			    margin-left: 8.333333333333332%;
			  }
			  .col-sm-offset-0 {
			    margin-left: 0;
			  }
		}
		@media screen and (min-width:1024px){

			  .col-md-12 {
			    width: 100%;
			  }
			  .col-md-11 {
			    width: 91.66666666666666%;
			  }
			  .col-md-10 {
			    width: 83.33333333333334%;
			  }
			  .col-md-9 {
			    width: 75%;
			  }
			  .col-md-8 {
			    width: 66.66666666666666%;
			  }
			  .col-md-7 {
			    width: 58.333333333333336%;
			  }
			  .col-md-6 {
			    width: 50%;
			  }
			  .col-md-5 {
			    width: 41.66666666666667%;
			  }
			  .col-md-4 {
			    width: 33.33333333333333%;
			  }
			  .col-md-3 {
			    width: 25%;
			  }
			  .col-md-2 {
			    width: 16.666666666666664%;
			  }
			  .col-md-1 {
			    width: 8.333333333333332%;
			  }
			  .col-md-pull-12 {
			    right: 100%;
			  }
			  .col-md-pull-11 {
			    right: 91.66666666666666%;
			  }
			  .col-md-pull-10 {
			    right: 83.33333333333334%;
			  }
			  .col-md-pull-9 {
			    right: 75%;
			  }
			  .col-md-pull-8 {
			    right: 66.66666666666666%;
			  }
			  .col-md-pull-7 {
			    right: 58.333333333333336%;
			  }
			  .col-md-pull-6 {
			    right: 50%;
			  }
			  .col-md-pull-5 {
			    right: 41.66666666666667%;
			  }
			  .col-md-pull-4 {
			    right: 33.33333333333333%;
			  }
			  .col-md-pull-3 {
			    right: 25%;
			  }
			  .col-md-pull-2 {
			    right: 16.666666666666664%;
			  }
			  .col-md-pull-1 {
			    right: 8.333333333333332%;
			  }
			  .col-md-pull-0 {
			    right: 0;
			  }
			  .col-md-push-12 {
			    left: 100%;
			  }
			  .col-md-push-11 {
			    left: 91.66666666666666%;
			  }
			  .col-md-push-10 {
			    left: 83.33333333333334%;
			  }
			  .col-md-push-9 {
			    left: 75%;
			  }
			  .col-md-push-8 {
			    left: 66.66666666666666%;
			  }
			  .col-md-push-7 {
			    left: 58.333333333333336%;
			  }
			  .col-md-push-6 {
			    left: 50%;
			  }
			  .col-md-push-5 {
			    left: 41.66666666666667%;
			  }
			  .col-md-push-4 {
			    left: 33.33333333333333%;
			  }
			  .col-md-push-3 {
			    left: 25%;
			  }
			  .col-md-push-2 {
			    left: 16.666666666666664%;
			  }
			  .col-md-push-1 {
			    left: 8.333333333333332%;
			  }
			  .col-md-push-0 {
			    left: 0;
			  }
			  .col-md-offset-12 {
			    margin-left: 100%;
			  }
			  .col-md-offset-11 {
			    margin-left: 91.66666666666666%;
			  }
			  .col-md-offset-10 {
			    margin-left: 83.33333333333334%;
			  }
			  .col-md-offset-9 {
			    margin-left: 75%;
			  }
			  .col-md-offset-8 {
			    margin-left: 66.66666666666666%;
			  }
			  .col-md-offset-7 {
			    margin-left: 58.333333333333336%;
			  }
			  .col-md-offset-6 {
			    margin-left: 50%;
			  }
			  .col-md-offset-5 {
			    margin-left: 41.66666666666667%;
			  }
			  .col-md-offset-4 {
			    margin-left: 33.33333333333333%;
			  }
			  .col-md-offset-3 {
			    margin-left: 25%;
			  }
			  .col-md-offset-2 {
			    margin-left: 16.666666666666664%;
			  }
			  .col-md-offset-1 {
			    margin-left: 8.333333333333332%;
			  }
			  .col-md-offset-0 {
			    margin-left: 0;
			  }
		}
		@media screen and (min-width:1200px){
			  .col-lg-12 {
			    width: 100%;
			  }
			  .col-lg-11 {
			    width: 91.66666666666666%;
			  }
			  .col-lg-10 {
			    width: 83.33333333333334%;
			  }
			  .col-lg-9 {
			    width: 75%;
			  }
			  .col-lg-8 {
			    width: 66.66666666666666%;
			  }
			  .col-lg-7 {
			    width: 58.333333333333336%;
			  }
			  .col-lg-6 {
			    width: 50%;
			  }
			  .col-lg-5 {
			    width: 41.66666666666667%;
			  }
			  .col-lg-4 {
			    width: 33.33333333333333%;
			  }
			  .col-lg-3 {
			    width: 25%;
			  }
			  .col-lg-2 {
			    width: 16.666666666666664%;
			  }
			  .col-lg-1 {
			    width: 8.333333333333332%;
			  }
			  .col-lg-pull-12 {
			    right: 100%;
			  }
			  .col-lg-pull-11 {
			    right: 91.66666666666666%;
			  }
			  .col-lg-pull-10 {
			    right: 83.33333333333334%;
			  }
			  .col-lg-pull-9 {
			    right: 75%;
			  }
			  .col-lg-pull-8 {
			    right: 66.66666666666666%;
			  }
			  .col-lg-pull-7 {
			    right: 58.333333333333336%;
			  }
			  .col-lg-pull-6 {
			    right: 50%;
			  }
			  .col-lg-pull-5 {
			    right: 41.66666666666667%;
			  }
			  .col-lg-pull-4 {
			    right: 33.33333333333333%;
			  }
			  .col-lg-pull-3 {
			    right: 25%;
			  }
			  .col-lg-pull-2 {
			    right: 16.666666666666664%;
			  }
			  .col-lg-pull-1 {
			    right: 8.333333333333332%;
			  }
			  .col-lg-pull-0 {
			    right: 0;
			  }
			  .col-lg-push-12 {
			    left: 100%;
			  }
			  .col-lg-push-11 {
			    left: 91.66666666666666%;
			  }
			  .col-lg-push-10 {
			    left: 83.33333333333334%;
			  }
			  .col-lg-push-9 {
			    left: 75%;
			  }
			  .col-lg-push-8 {
			    left: 66.66666666666666%;
			  }
			  .col-lg-push-7 {
			    left: 58.333333333333336%;
			  }
			  .col-lg-push-6 {
			    left: 50%;
			  }
			  .col-lg-push-5 {
			    left: 41.66666666666667%;
			  }
			  .col-lg-push-4 {
			    left: 33.33333333333333%;
			  }
			  .col-lg-push-3 {
			    left: 25%;
			  }
			  .col-lg-push-2 {
			    left: 16.666666666666664%;
			  }
			  .col-lg-push-1 {
			    left: 8.333333333333332%;
			  }
			  .col-lg-push-0 {
			    left: 0;
			  }
			  .col-lg-offset-12 {
			    margin-left: 100%;
			  }
			  .col-lg-offset-11 {
			    margin-left: 91.66666666666666%;
			  }
			  .col-lg-offset-10 {
			    margin-left: 83.33333333333334%;
			  }
			  .col-lg-offset-9 {
			    margin-left: 75%;
			  }
			  .col-lg-offset-8 {
			    margin-left: 66.66666666666666%;
			  }
			  .col-lg-offset-7 {
			    margin-left: 58.333333333333336%;
			  }
			  .col-lg-offset-6 {
			    margin-left: 50%;
			  }
			  .col-lg-offset-5 {
			    margin-left: 41.66666666666667%;
			  }
			  .col-lg-offset-4 {
			    margin-left: 33.33333333333333%;
			  }
			  .col-lg-offset-3 {
			    margin-left: 25%;
			  }
			  .col-lg-offset-2 {
			    margin-left: 16.666666666666664%;
			  }
			  .col-lg-offset-1 {
			    margin-left: 8.333333333333332%;
			  }
			  .col-lg-offset-0 {
			    margin-left: 0;
			  }
		}