html{
  background : url(https://user-images.githubusercontent.com/33137254/63361403-0d4c3e80-c33e-11e9-928e-e526644ec7fb.jpg);
  background-size:cover;
  
}
*{
  font-family:Apple Chancery, cursive;
}

input {
  font-size:18px;
  margin:10px;
  border: none;
  border-bottom: 1.4px solid #4e3c86;
  width: 315px;
  height:35px;
  background: transparent;
}

body {
  background:rgba(230,226,242,.8);
  width:400px;
  height:500px;  
  margin:40px auto;
  box-shadow: 0px 0px 40px #677a80;
  
}

form{
    text-align:center;
    padding-top:20px
}

h1{
  color:#4e3c86;
  margin:10px;
  padding:20px;
  font-weight:500;
  text-align:center;
}

.button {
  border:1px solid #203b66;
  border-radius:40px;
  height:40px;
  background-color:rgba(160,145,206,.3);
}

.button:hover{
  color:rgba(230,226,242,1);
  background-color:rgba(160,145,206,1);
}

p {
  text-align:center;
  font-size:18px;
  margin:10px;
}

a{
  text-decoration:none;
  color:#4e3c86;
  font-weight:600;
  
}